<div class=" well col-md-6 col-md-offset-3">
    <form method="post" action="/account/createaccount">
        <h4>Create Account</h4>
        <div class="row">
            <input type="text" placeholder="Name" name="name" class="form-control" required />
        </div>
        <div class="row" style="margin-top:15px">
            <input type="email" placeholder="Email" name="email" class="form-control" required />
        </div>
        <div class="row" style="margin-top:15px">
            <input type="password" placeholder="Password" name="password" class="form-control" required />
        </div>
        <div class="row" style="margin-top:15px">
            <button class="btn btn-primary">Create Account</button>
        </div>
    </form>

</div>
